html {
  scroll-behavior: smooth;
}
body{
  background: rgb(112, 112, 195);
  color: rgb(239, 239, 239);
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  background: rgba(103, 96, 114, 0.808);
  position: fixed;
  z-index: 99;
  width: 100%;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  background: rgba(103, 96, 114, 0.808);
}

h1{
  font-family:'Play', sans-serif;
  text-align: center;
  font-size: 4rem;
}
span, h2{
  color: rgb(246, 136, 156);
  font-weight: 700;
}
#banner{
  height: 380px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1e173485-128b-4f50-b320-514aba8d9c6d/d6wzu4h-1368c8c5-022a-4029-8f1b-1d0498129519.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFlMTczNDg1LTEyOGItNGY1MC1iMzIwLTUxNGFiYThkOWM2ZFwvZDZ3enU0aC0xMzY4YzhjNS0wMjJhLTQwMjktOGYxYi0xZDA0OTgxMjk1MTkuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gQLsCOkHoXhMw15Bb5VAdiGZzDI7Xn5OiegQUHEIzYk");
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.authors{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 1rem;
}
.authors ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.upload li{
  font-size: 1.5rem;
  text-align: center;

}

a{
  text-decoration: none;
  color: rgb(239, 239, 239);
}
a:hover{
  color:rgb(246, 136, 156);
}
a:active{
  color: rgb(88, 88, 147);
}

img{
  width: 50px;
}
.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: .5rem;
}

.upload{
  background: rgb(88, 88, 147);
  padding: 30px 10px;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
}

.upload:hover, button:hover{
  outline: 2px rgb(246, 136, 156) solid;
}
.upload ul{
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}
button{
  font-size: 1rem;
  margin: 0 10px;
  height: 50px;
  width: 120px;
  background: rgb(239, 239, 239);
  color: rgb(88, 88, 147);
  border: rgb(88, 88, 147) solid 3px;
  border-radius: 5px;
}
button:active{
  background: rgb(246, 136, 156);
}
.previous{
  background: transparent;
  color: rgb(239, 239, 239);
  border: solid rgb(239, 239, 239) 3px;
}
iframe{
  width:560px;
  height: 315px;
  border-radius: 5px;
}
@media(max-width: 650px){
  iframe{
    width: 300px;
    height: calc((315/560) * 300px);
  }
}